# See: https://doc.rust-lang.org/cargo/reference/manifest.html

[package]
name = "asimov-template-module"
version = "0.0.0"
authors = ["ASIMOV AI <support@asimov.so>"]
edition = "2021"
rust-version = "1.70"
description = "ASIMOV Platform module template. Fork this to create your own module!"
#documentation = ""
readme = true
homepage = "https://github.com/AsimovModules"
repository = "https://github.com/AsimovModules/asimov-template-module"
license = "Unlicense"
keywords = ["asimov", "ai"]
categories = []
publish = true

[features]
default = ["std", "tracing"]
std = ["asimov-sdk/std", "tracing?/std"]
tracing = ["dep:tracing", "asimov-sdk/tracing"]

[dependencies]
#asimov-sdk = "24"
asimov-sdk = { version = "=24.0.0-dev.6", default-features = false }
protoflow = { version = "=0.0.10", default-features = false, features = ["derive"] }
tracing = { version = "0.1", optional = true, default-features = false }
